/* Login up section starts */
.img_1{
    width:690px;
    height:1097px;
    margin-top:-563px;
}
.img_2{
    margin-left: 100px;
    left:-955px;
    top:23px;
}
.img_3{
    width:550px;
    height:550px;
    left:-1077px;
    top:-232px;
}
.img_4{
    width:842px;
    height:632px;
    left:-825px;
    top:123px;
}
.form_1{
    margin-left:-731px;
}
.head_25{
    margin-left:-636px;
}
.para_87{
    margin-left:-636px;
}
.img_5{
    left:166px;
    top:6px;
}
.google_text{
    color:rgb(123, 23, 23)!important;
}
.head_12{
    margin-left:-640px;
}
.img_6{
    left:166px;
    top:6px;
}
/* Login up section ends */